<h1>Welcome on computer forum!</h1>
<h2>Place for everyone - from newcomers to computer geeks!</h2>

<%= link_to "New post", new_post_path if authenticated? %>

<div id="posts">
    <% @posts.each do |post| %>
        <div>
            <a href="/posts/<%=post.id%>">
                <h3><%= post.title %></h3>
                <%# Limiting showing post content to only 150 characters - but if it will end in the middle of word, will show whole word %>
                <%= truncate(post.content, length: 150, separator: ' ') %>
            </a>
        </div>
    <% end %>
</div>