/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    margin: 0;
    background: #F5F7FA;
    /*font-family: "Roboto", sans-serif;
    font-family: "Droid Sans", sans-serif;*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    justify-content: flex-end;
    display: flex;
    font-size: 0.875rem;
    color: #FCA311;
    gap: 0.5rem;
    /*max-width: 1024px;
    margin: 0 auto;*/
    margin: -1rem;
    padding: 1rem;
    background: #14213D;
    border-bottom: 1px solid #000000;
    /*width: 1440px;*/
    height: 44px;
}

footer {
    background: #14213D;
    border-top: 1px solid #000000;
    justify-content: center;
    display: flex;
    font-size: 0.875rem;
    color: #FCA311;
    height: 44px;
    margin: 1rem -1rem -1rem;
    padding: 1rem;
    gap: 0.5rem;
}

footer a {
    color: #FCA311;
}

nav a {
    color: #FCA311;
    border: 1px solid #FCA311;
    border-radius: 5px;
    padding: 5px;
}

nav a {
    display: inline-block;
}

main {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 1rem;
    flex: 1;
}

section.post {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

section.post img {
    border-radius: 8px;
    flex-basis: 50%;
    max-width: 50%;
}